*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background-color: #249991;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  height: 80%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .day {
    width: 50%;
    height: 100%;
    background-color: #4ecdc4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      &:nth-child(1) {
        font-size: 2rem;
        color: #b8e6e8;
      }
      &:nth-child(2) {
        font-size: 12rem;
        color: #fefbfd;
      }
    }
  }

  .calender {
    width: 50%;
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    text-align: center;
    // padding: 2rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .month-year {
      color: #249b85;
      font-size: 2rem;
      font-weight: 700;
    }

    .calender-inner {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      width: 80%;

      p {
        font-size: 1.5rem;
        font-weight: 600;
      }

      .days {
        color: #e84f78;
      }

      .past {
        color: #c4c4c4;
      }

      .current {
        border-radius: 100%;
        border: 5px solid #e84f78;
        color: #e84f78;
      }

      .future {
        color: #6d6d6d;
      }
    }
  }
}
